language: cpp

branches:
  except:
    - axel

compiler:
  - gcc
  - clang

env:
  - SPLASHPARALLEL=ON  SPLASHMPI=ON
  - SPLASHPARALLEL=OFF SPLASHMPI=ON
  - SPLASHPARALLEL=OFF SPLASHMPI=OFF

script:
  - cd $BUILD
# compile libSplash and install
  - cmake -DTOOLS_MPI=$SPLASHMPI -DCMAKE_INSTALL_PREFIX=~/lib/splash $SRC
  - make install
  - rm -rf $BUILD/*
# compile examples/
  - cmake -DWITH_MPI=$SPLASHMPI $SRC/examples
  - make
  - rm -rf $BUILD/*
# compile and run tests/
  - cmake -DWITH_MPI=$SPLASHMPI $SRC/tests
  - make

after_script:
  - $SRC/tests/run_tests $BUILD
  - $SRC/tests/run_parallel_tests $BUILD

before_script:
  - uname -r
  - lsb_release -a
  - echo "yes" | sudo add-apt-repository ppa:jsm-8/lofar-deps
  - sudo apt-get update -qq
  - if [ "$SPLASHMPI" == "ON" ]; then export APTMPI="libopenmpi-dev openmpi-bin"; fi
  - if [ "$SPLASHPARALLEL" == "ON" ]; then export APTHDF5="libhdf5-openmpi-7 libhdf5-openmpi-dev"; else export APTHDF5="libhdf5-7 libhdf5-dev libhdf5-serial-dev"; fi
  - sudo dpkg --get-selections
  - sudo apt-get install -qq -f libcppunit-dev
  - sudo apt-get install -qq -f libboost-program-options-dev
  - sudo apt-get install -y -f $APTMPI $APTHDF5
  - export SRC=`pwd`
  - export BUILD=~/buildTmp
  - mkdir -p $BUILD ~/lib
  - export SPLASH_ROOT=~/lib/splash
