language: cpp
sudo: false
dist: trusty

cache:
  apt: true
  directories:
    - $HOME/.cache/spack
  pip: true

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages: &common_deps
      - gfortran
      - libcppunit-dev

env:
  global:
    - BUILD: ~/buildTmp
    - CXXFLAGS: "-Wall -Wextra -Woverloaded-virtual -Wshadow"
    - SPACK_ROOT: $HOME/.cache/spack
    - PATH: $PATH:$HOME/.cache/spack/bin

matrix:
  include:
    # GCC 4.8.5
    - env:
        - SPLASHPARALLEL=ON SPLASHMPI=ON
      compiler: gcc
      addons: &mpi_deps
        apt:
          packages:
            - *common_deps
            - libopenmpi-dev
            - openmpi-bin
    - env:
        - SPLASHPARALLEL=OFF SPLASHMPI=ON
      compiler: gcc
      addons: *mpi_deps
    - env:
        - SPLASHPARALLEL=OFF SPLASHMPI=OFF
      compiler: gcc
    # Clang 5.0.0
    - env:
        - SPLASHPARALLEL=ON SPLASHMPI=ON
      compiler: clang
      addons: *mpi_deps
    - env:
        - SPLASHPARALLEL=OFF SPLASHMPI=ON
      compiler: clang
      addons: *mpi_deps

    - env:
        - SPLASHPARALLEL=OFF SPLASHMPI=OFF
      compiler: clang

install:
  - SPACK_FOUND=$(which spack >/dev/null && { echo 0; } || { echo 1; })
  - if [ $SPACK_FOUND -ne 0 ]; then
      mkdir -p $SPACK_ROOT &&
      git clone --depth 50 https://github.com/spack/spack.git $SPACK_ROOT &&
      cp $TRAVIS_BUILD_DIR/.travis/spack/*.yaml
         $SPACK_ROOT/etc/spack/ &&
      spack bootstrap;
    fi
  - source /etc/profile &&
    source $SPACK_ROOT/share/spack/setup-env.sh
  - COMPILERSPEC="%$CC"
  - travis_wait spack install
      cmake@3.10.0~openssl~ncurses
      $COMPILERSPEC
  - spack load cmake@3.10.0 $COMPILERSPEC
  - if [ $SPLASHMPI == "ON" ]; then
      travis_wait spack install
        openmpi@1.6.5
        $COMPILERSPEC &&
      spack load openmpi@1.6.5 $COMPILERSPEC;
    fi
  - if [ $SPLASHPARALLEL == "ON" ]; then
      travis_wait spack install
        hdf5@1.8.12+mpi ^openmpi@1.6.5
       $COMPILERSPEC &&
      spack load hdf5@1.8.12+mpi ^openmpi@1.6.5 $COMPILERSPEC &&
      spack load zlib $COMPILERSPEC &&
      pip install urllib3[secure] --user &&
      pip install h5py --user;
    else
      travis_wait spack install
        hdf5@1.8.12~mpi
        $COMPILERSPEC &&
      spack load hdf5@1.8.12~mpi $COMPILERSPEC &&
      spack load zlib $COMPILERSPEC &&
      pip install urllib3[secure] --user &&
      pip install h5py --user;
    fi
  - spack clean -a

script:
  - mkdir -p $HOME/build 
  - cd $HOME/build
  - CXXFLAGS=$CXXFLAGS CXX=$CXX CC=$CC
    cmake
      -DCMAKE_BUILD_TYPE=Debug
      -DSplash_USE_MPI=$SPLASHMPI
      -DSplash_USE_PARALLEL=$SPLASHPARALLEL
      -DSplash_HAVE_TESTS=ON
      -DCMAKE_INSTALL_PREFIX=$HOME/splash-test-install
      $TRAVIS_BUILD_DIR
  - make -j 2
  - make test
  - make install
  - make package
  # - dpkg -i libsplash*.deb

