language: cpp

compiler:
  - gcc

script:
  - SRC=`pwd`
  - mkdir -p ~/build ~/lib
  - cd ~/build
  - cmake -DCMAKE_INSTALL_PREFIX=~/lib/splash $SRC/tests
  - make
  - cd ..
  - $SRC/tests/run_tests
  - $SRC/tests/run_parallel_tests

before_script:
  - echo "yes" | sudo add-apt-repository ppa:jsm-8/lofar-deps
  - sudo apt-get update -qq
  - sudo apt-get install -qq libopenmpi-dev libhdf5-openmpi-dev libcppunit-dev libboost-program-options-dev
